body{
  background-color: #EAF6F6
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 20%;
  border-color: grey;
  border-width: 5px;
}

h1{
  color: #000080
}

h3{color: #66BFBF}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}


.A th[scope=col] {
    font-weight: normal;
}
